@model ComplaintPortalSystem.Models.AccountHolder

@{
    ViewBag.Title = "Forgot Password";
}

<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        

        header h2 {
            padding-top: 15px;
            padding-bottom: 15px;
        }


        .form-group {
            padding-left: 12px;
            padding-top: 5px;
            padding-bottom: 15px;
            color: black;
        }

            .form-group .form-control {
                margin-top: 15px;
            }

            .form-group .btn {
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 7px;
                padding-bottom: 7px;
                margin-right: 20px;
                border: none;
                width: 85px;
                border-radius: 3px;
            }

            .form-group .btn-success {
                background: #b81818;
                color: #ffffff;
            }

                .form-group .btn-success:hover {
                    background: #a71111;
                }

            .form-group .btn-primary {
                background: #969292;
                color: #ffffff;
            }

                .form-group .btn-primary:hover {
                    background: #747373;
                }

        .text-success {
            color: red;
            font-weight: 500;
        }

    </style>
</head>

<body>
    @using (Html.BeginForm())
    {
    <header>
        <h2>Get back into your account</h2>
        <hr style="border:0.6px solid #dbd9d9;" />
    </header>

        <div class="form-horizontal">
            <div class="form-group">
                <p>Please enter your registered email address below and we will send you an email containing a link to reset your password.</p>
            </div>

            <div class="text-success">
                @ViewBag.Message
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "example@mail.ru" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>*@
                <label class="control-label">Email Address</label>
                @Html.TextBox("EmailID", "", new { @class = "form-control", @required = "required" })
            </div>

            <div class="form-group">
                <button type="submit" value="Submit" class="btn btn-success">Submit</button>
                <button type="button" value="Cancel" class="btn btn-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </div>
    }

</body>
</html>