@using ComplaintPortalSystem.Common
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            background: #f4f4f4;
        }

        header {
            margin-top: 120px;
            padding: 50px;
            text-align: center;
            background: #b81818;
            border-radius: 7px;
            margin-bottom: 50px;
        }

        h1 {
            color: white;
            margin-bottom: 40px;
        }

        h4 {
            color: #d6d3d3;
        }
    </style>
</head>

<body>

    <header>
        <h1>We have received your feedback, thanks for your participation!</h1>
        <h4>Please do check your email regularly as we will response via email if you do provide us an email.</h4>
    </header>


</body>
</html>